version: '1.0.{build}'
image: Visual Studio 2019
build: off

install:
  - py -3.9 -m venv venv
  - venv\Scripts\activate
  - pip install -r requirements.txt

before_test:
  - cd flaskapp

test_script:
  - runtests.bat