{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Image Resizer{% endblock %}

{% block content %}
<div class="container">
    <h1>Image Resizer with Histograms</h1>
    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(form, method='post', enctype='multipart/form-data') }}
        </div>
    </div>

    {% if original_img and resized_img %}
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Original Image</h3>
            <img src="{{ original_img }}" class="img-responsive" style="max-width: 100%;">
            {% if hist_original %}
            <h4>Histogram</h4>
            <img src="{{ hist_original }}" class="img-responsive">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Resized Image (Scale {{ form.scale.data }})</h3>
            <img src="{{ resized_img }}" class="img-responsive" style="max-width: 100%;">
            {% if hist_resized %}
            <h4>Histogram</h4>
            <img src="{{ hist_resized }}" class="img-responsive">
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}